<a name="about_us"></a>
<div class="container mt-5">

    <div class="row">

        <div class="col-8">
            <h1 class="text-center"> О нас</h1>
            <h5 class="container">
                Добро пожаловать в динамичную и быстрорастущую компанию в сфере массовых сообщений.
                услуги. Будучи молодой и динамичной компанией, мы гордимся тем, что произвели революцию в способах взаимодействия бизнеса.
                со своей аудиторией через наши передовые почтовые службы. Наша миссия проста, но эффективна:
                расширять возможности наших клиентов в продвижении их продуктов и услуг с беспрецедентной эффективностью..</h5><br>

        </div>
        <div class="col-4">
            <img src="media/about_us_example.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>