<a name="statistic"></a>
<h1 class="container text-center pt-5 mb-5">
    Our Statistic
</h1>

<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Значительный</th>
            <th scope="col">Число</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Количество пользователей</td>
            <td>{{ number_users }}</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Количество готовых рассылок</td>
            <td>{{ number_mailings }}</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Количество клиентов для рассылок</td>
            <td>{{ number_clients }}</td>
        </tr>

        <tr>
            <th scope="row"></th>
            <th>Заключение</th>
            <th>Вам стоит работать с нами!!!</th>
        </tr>

        </tbody>
    </table>
</div>