{% extends 'main/base.html' %}
{% load my_tags%}
{% block content %}
<div>

    <div class="container">
        <h1 class="container text-center pt-5 mb-5">
            List of Users
        </h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ПК</th>
                <th scope="col">Имя</th>
                <th scope="col">Электронная почта</th>
                <th scope="col">Количество рассылок</th>
                <th scope="col">Активный</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
            <tr>
                <th scope="row">{{ object.user.pk }}</th>
                <td>{{ object.user.name }}</td>
                <td>{{ object.user.email }}</td>
                <td>{{ object.number_of_mailings }}</td>
                <td>{{ object.user.is_active }}</td>
                <th>
                    <a href="{% url 'profile' object.user.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Вид
                    </a>
                    <a href="{% url 'user_change_active' object.user.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">
                        {% if object.user.is_active %}
                        Деактивировать
                        {% else %}
                        Активировать
                        {% endif %}
                    </a>
                </th>

            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

</div>

{% endblock %}